<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAH1vBnNmh5hovcr-FHvLPp62DMMnmco18</string>
	<key>GCM_SENDER_ID</key>
	<string>158156659843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ygauthier.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodolist-56ffc</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodolist-56ffc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158156659843:ios:e3309a0925a4a4b658cfb6</string>
</dict>
</plist>